.back{
    background-color: rgb(15, 15, 24); 
    color: white;

}
.images{
    height: 1orem !important;
}
.sec{
    height: 100vh;
}
.check{
    height: 80vh !important;
}
.images{
    width: 100%;
    /* border: 1px solid white; */
    border-radius: 10px;
    opacity: 0.2;
}
